.outerContainer {
    width: 100vw;
    position: fixed;
    top: 80px;
    height: 100vh;
    z-index: 3;
}

.displayNone {
    display: none;
}

.innerContainer {
    width: 1124px;
    background-color: white;
    height: 410px;
    display: flex;
    padding: 0px 40px 0px 40px;
    margin: 0 auto;
}

.item {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(112, 110, 110);
    list-style-type: none;
    padding-top: 6px;
    font-size: 14px;
    cursor: pointer;
}

.item:hover {
    font-weight: bold;
}

.list {
    width: 20%;
}